    <div id="pulses">
        <h2>Pulses</h2>
        <p>Pulse Energy (J) = Average Power (W) / Repetition Rate (sec<sup>-1</sup>)</p>
        <p>Repetition Rate</p>
        <div class="ruler-group-wrap">

            <div class="centerline ignore"></div>


            <div class="ruler-wrap">
                <input type="text" class="display display-over" id="repetitionRateDisplay" />
                <div id="repetitionRate" class="bgdn r slider"></div>
            </div>

            <div class="ruler-wrap">
                <div id="averagePower" class="bgup r slider"></div>
                <input type="text" class="display display-under" id="averagePowerDisplay" />
            </div>

        </div>
        <p>Average Power</p>

        <p>Pulse Energy</p>
        <div class="ruler-group-wrap">

            <div class="centerline ignore centerline-short"></div>

            <div class="ruler-wrap">
                <input type="text" class="display display-over" id="pulseEnergyDisplay" />
                <div id="pulseEnergy" class="bgup r slider"></div>
            </div>
        </div>

        <p>Peak Power (W) = Pulse Energy (J) / Pulse Duration (sec)</p>
        <p>Pulse Duration</p>
        <div class="ruler-group-wrap">

            <div class="centerline ignore"></div>

            <div class="ruler-wrap">
                <input type="text" class="display display-over" id="pulseDurationDisplay" />
                <div id="pulseDuration" class="bgdn r slider"></div>
            </div>

            <div class="ruler-wrap">
                <div id="peakPower" class="bgup r slider"></div>
                <input type="text" class="display display-under" id="peakPowerDisplay" />
            </div>

        </div>
        <p>PeakPower</p>

    </div>

